*.log
*.vmx
*.meta
*.prt
*.smx
*.bsp
*.o
**/.ambuild2/**
**/dh.ext.2.csgo.so/**
**/.idea/**
*.bsp
particles/emote_galaxie_finale2.pcf
particles/emote_halloween.pcf
particles/emote_smash.pcf
particles/emote_storm_2.pcf
particles/emotecoeurs.pcf
particles/emotestarwarseclairs.pcf
particles/laser_darkstar.pcf
particles/lasers_trou_noir_v2.pcf
particles/lasersnoel2018.pcf
particles/laserstriplesv4.pcf
particles/particles_rsc_gang.pcf
particles/rebelscorp.pcf
*.id0
bin/server.id1
bin/server.id2
bin/server.nam
bin/server.til
